<StackLayout>
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout columns="50px,*,*" class="list-group-item">
                <Label col="0" [text]="item.title"></Label>
                <Button col="1" text="Edit" (tap)="editItem(item.id)"></Button>
                <Button col="2" text="Delete" (tap)="deleteItem(item.id)"></Button>
            </GridLayout>
        </ng-template>
    </ListView>

    <Button text="Add" [nsRouterLink]="['/spent-form']"></Button>
</StackLayout>