<ActionBar class="action-bar" title="My ActionBar">
    <GridLayout columns="auto, *, auto">
        <Button text="&#xf0d9;" class="font-awesome" (tap)="showPrevMonth()" horizontalAlignment="left"></Button>
        <Label text="{{monthLabel}}"
               col="1"
               fontSize="18"
               verticalAlignment="middle"></Label>
        <Button text="&#xf0da;" class="font-awesome" col="2" (tap)="showNextMonth()" horizontalAlignment="right"></Button>
    </GridLayout>
</ActionBar>
<StackLayout>
    <TextField class="input input-border" hint="Search" text="" [(ngModel)]="query"></TextField>
    <ListView [items]="items | search:'title':query" class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout columns="50px,*,*" class="list-group-item">
                <Label col="0" [text]="item.title"></Label>
                <Button col="1" text="Edit" (tap)="editItem(item.id)"></Button>
                <Button col="2" text="Delete" (tap)="deleteItem(item.id)"></Button>
            </GridLayout>
        </ng-template>
    </ListView>

    <Button text="Add" [nsRouterLink]="['/spent-form']"></Button>
</StackLayout>