<ActionBar class="action-bar" title="My ActionBar">
    <GridLayout rows="auto, auto, *"
                columns="auto, *">
        <Label text="Year:"
               row="0"
               col="0"
               fontSize="18"
               verticalAlignment="bottom"></Label>
        <DropDown #dd
                  backroundColor="white"
                  [items]="years"
                  [(ngModel)]="selectedIndex"
                  (selectedIndexChanged)="selectedIndexChanged($event)"
                  row="0"
                  col="1"></DropDown>
    </GridLayout>
</ActionBar>
<StackLayout>
    <CardView class="card" *ngFor="let item of items">
        <StackLayout class="spent" (tap)="openMonthlyItems(item.year, item.month)">>
            <Label [text]="item.month" class="month-label"></Label>
            <Label [text]="item.sum" class="sum-label"></Label>
        </StackLayout>
    </CardView>

    <Button text="Add" [nsRouterLink]="['/spent-form']"></Button>
    <GridLayout rows="*, auto">
        <Fab (tap)="fabTap()"
             row="1"
             icon="res://icon"
             rippleColor="#f1f1f1"
             class="fab-button">
        </Fab>
    </GridLayout>
</StackLayout>
