<ActionBar class="action-bar" title="My ActionBar">
    <GridLayout columns="auto,*,auto,70">
        <Button text="&#xf0d9;" class="font-awesome" (tap)="showPrevYear()" horizontalAlignment="left"></Button>
        <Label text="{{picked}}" col="1" class="date"></Label>
        <Button text="&#xf0da;" class="font-awesome" col="2" (tap)="showNextYear()" horizontalAlignment="right"></Button>
        <Button text="&#xf055;" class="font-awesome" col="3" [nsRouterLink]="['/spent-form']"></Button>
    </GridLayout>
</ActionBar>
<StackLayout>
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout columns="*,auto" class="list-group-item" (tap)="openMonthlyItems(item.year, item.month)">
                <Label col="0" [text]="item.month" class="description"></Label>
                <Label col="1" [text]="item.sum" class="sum"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>
