<ActionBar class="navbar" title="My ActionBar">
    <GridLayout rows="auto, auto, *"
                columns="auto, *">
        <Label text="Year:"
               row="0"
               col="0"
               fontSize="18"
               verticalAlignment="bottom"></Label>
        <DropDown #dd
                  backroundColor="white"
                  [items]="years"
                  [(ngModel)]="selectedIndex"
                  (selectedIndexChanged)="selectedIndexChanged($event)"
                  row="0"
                  col="1"></DropDown>
    </GridLayout>
</ActionBar>
<StackLayout class="container">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout columns="50px,*" class="list-group-item">
                <Label col="0" [text]="item.sum"></Label>
                <Button col="1" text="View" (tap)="openMonthlyItems(item.year, item.month)"></Button>
            </GridLayout>
        </ng-template>
    </ListView>

    <Button text="Add" [nsRouterLink]="['/spent-form']"></Button>
</StackLayout>