<ActionBar class="action-bar" [title]="!item.id? 'Add Expense' : 'Update Expense'"></ActionBar>
<GridLayout rows="*" columns="*">
    <ScrollView row="0" col="0">
        <GridLayout rows="*" columns="*">
            <StackLayout class="form">
                <StackLayout class="input-field">
                    <Label class="label font-weight-bold m-b-5" text="Date" row="1" col="0" textWrap="true"></Label>
                    <TextField class="input" id="itemDate" required hint="When?" [text]='item.date | date:"dd/MM/yy"' (tap)="showDatePicker()"
                               row="1" col="1" returnKeyType="done"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                    <Label class="text-danger" [visibility]="item.date ? 'collapse' : 'visible'" text="Field is required" ></Label>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label class="label font-weight-bold m-b-5" text="Title" row="2" col="0" textWrap="true" ></Label>
                    <TextField class="input" id="itemTitle" hint="What?" text="" autocorrect="true" [(ngModel)]="item.title" row="2" col="1"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label class="label font-weight-bold m-b-5" text="Sum"></Label>
                    <TextField class="input" id="itemSum" required hint="How much?" text="" keyboardType="number" [(ngModel)]="item.sum" row="3"
                               col="1" #element #elementModel="ngModel"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                    <Label class="text-danger" [visibility]="elementModel.valid ? 'collapse' : 'visible'" text="Field is required" ></Label>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label class="label font-weight-bold m-b-5" text="Exclude from monthly sum"></Label>
                    <Switch class="switch right" [checked]="item.excludeFromSum" horizontalAlignment="left" [(ngModel)]="item.excludeFromSum"></Switch>
                </StackLayout>
                <GridLayout columns="auto,auto" rows="auto" horizontalAlignment="center">
                    <Button text="ADD" (tap)="createItem()" *ngIf="!item.id" col="0" class="btn btn-primary" width="35%"></Button>
                    <Button text="UPDATE" (tap)="updateItem()" *ngIf="item.id" col="0" class="btn btn-primary" width="35%"></Button>
                    <Button text="CANCEL" (tap)="back()" col="1" class="btn btn-outline" width="35%"></Button>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <StackLayout backgroundColor="white" [visibility]="isItemVisible ? 'visible' : 'collapsed'" row="0" col="0">
        <DatePicker class="m-15" id="datePicker" #dp [visibility]="isItemVisible ? 'visible' : 'collapsed'" (loaded)="onPickerLoaded($event)"></DatePicker>
        <Button class="btn btn-outline" text="OK" (tap)="enterDate()" [visibility]="isButtonVisible ? 'visible' : 'collapsed'"></Button>
    </StackLayout>
</GridLayout>