.list-group-item .date {
    font-size: 12px;
    color: #cecece;
}

.list-group-item .description {
    font-size: 14px;
    color: #595959;
}

.list-group-item .sum {
    font-size: 16px;
    font-weight: bold;
    color: #006621;
}